<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
        <style>
            .bar {
                fill: lightgreen;
                stroke: black;
                stroke-width: 2;

            }

            .bar-on {
                fill: lightblue;
            }
        </style>
    </head>
    <body>
        <h1>Hello, World</h1>
        <div class="nav">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="user-card">
            <div class="user-card__name">name</div>
            <div class="user-card__oneSentence">sentence</div>
            <div class="user-card__description">description</div>
        </div>
        <div class="button-wrapper">
            <button>first</button>
            <button>second</button>
        </div>
    </body>
</html>
